<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700029365236-tucjldr56m1bbrc7tho97hgpbe5joi9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700029365236-tucjldr56m1bbrc7tho97hgpbe5joi9n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>700029365236-iqfl8ibtr5brte02db541lfdkbpqs0d0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBydPPOdSxlIfj1Ohn2FBcNK0LuLy8cYuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>700029365236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.users.details.usersdetails</string>
	<key>PROJECT_ID</key>
	<string>users-demo-f969d</string>
	<key>STORAGE_BUCKET</key>
	<string>users-demo-f969d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700029365236:ios:828e61d8481cf6abcae7a1</string>
</dict>
</plist>